.container{
    justify-content: center;
    display: flex;
    box-shadow: 10px 10px 5px orange;
    width: 600px;
    height: 500px;
    align-items: center;
    position: relative;
    margin: auto;
    top: 46px;
}
