@import '../../shared/lib/form/input/input.module.scss';

.grid {
    height: 150px;
    justify-content: space-around;
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
}

.statistic {
    span {
        font-weight: bold;
    }

    position: relative;
    right: 2%;
    font-size: 20px;
}

.sortAndFilter {
    display: flex;
}